@model List<Todos.Models.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Stylesheet.css")" />
    @{Layout = "_Layout";}
</head>
<body class="text-center text" >
    <h1>Task(s) For Today</h1>
    <h2><a href="/add">Add new Todo</a></h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
        <table class="table table-striped active table-bordered">
            <tr class="text-uppercase">
                <td>Id</td>
                <td>Title</td>
                <td>Urgent</td>
                <td>Completed</td>
                <td>Delete</td>
                <td>Edit</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td id="Titlerow">
                        <a href="/@item.Id/singleinfo">@item.Title</a>
                        <input type="hidden" name="Id" value="@item.Id" />
                    </td>
                    @if (item.IsUrgent == true)
                    {
                        <td>✔</td>
                    }
                    else if (item.IsUrgent == false)
                    {
                        <td>✘</td>
                    }
                    @if (item.IsDone == true)
                    {
                        <td>✔</td>
                    }
                    else if (item.IsDone == false)
                    {
                        <td>✘</td>
                    }
                    <td>
                        <form action="/(@item.Id)/delete" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button id="table" class="number btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="/(@item.Id)/update" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button id="table" class="number btn btn-danger" type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
                </div>
            </div>
    </div>
</body>
</html>
