@model List<Todos.Models.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Stylesheet.css")" />
</head>
<body>
    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>Id: @item.Id</td>
                <td>Title: @item.Title</td>
                <td>IsDone: @item.IsDone</td>
                <td>IsUrgent: @item.IsUrgent</td>
            </tr>
        </table>
    }
</body>
</html>
