@model Todos.Models.Todo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Stylesheet.css")" />
</head>
<body>
    <h1>Todos for today:</h1>
    <table>
        <tr>
            <td>Id:</td>
            <td>Title:</td>
            <td>IsDone:</td>
            <td>IsUrgent:</td>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Title</td>
            <td>@Model.IsDone</td>
            <td>@Model.IsUrgent</td>
        </tr>
    </table>
</body>
</html>