@model Todos.Models.Todo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Stylesheet.css")" />
</head>
<body>
    <h1>Todos for today:</h1>
    <table>
        <tr>
            <td>Id: @Model.Id</td>
            <td>Title: @Model.Title</td>
            <td>IsDone: @Model.IsDone</td>
            <td>IsUrgent: @Model.IsUrgent</td>
        </tr>
    </table>
</body>
</html>