@model Todos.Models.Todo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Stylesheet.css")" />
    @{Layout = "_Layout";}
</head>
<body class="text-center text" >
    @using (Html.BeginForm("edit", "todo"))
    {
        <input type="hidden" name="Id" value="@Model.Id" />
        <h3>@Html.LabelFor(todo => todo.Title): @Html.TextBoxFor(todo => todo.Title) <br /> </h3>
        <h3>@Html.LabelFor(todo => todo.IsUrgent):@Html.CheckBoxFor(todo => todo.IsUrgent, new {style = "width:30px;height:15px"}) <br /> </h3>
        <h3>@Html.LabelFor(todo => todo.IsDone):@Html.CheckBoxFor(todo => todo.IsDone, new {style = "width:30px;height:15px"}) <br /> </h3>
        <button class="btn btn-danger" type="submit">Edit This Todo!</button>
    }
    <br /><h3><a class="btn btn-danger" href="/">Cancel</a></h3>
</body>
</html>