@model BankOfSimba.Models.BankAccount

<html xmlns:th=“http://www.thymeleaf.org“>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv=“Content-Type” content=“text/html; charset=UTF-8" />
</head>
<body style="font-family:'Trebuchet MS'">
    @{int counter = 1;}
    <table border="1" height="250" width="500" style="text-align:center">
        <tr style="background-color:green">
            <td>Counter</td>
            <td>Name</td>
            <td>Balance (Zebra)</td>
            <td>Animal Type</td>
            <td>Good or Bad</td>
        </tr>
        @foreach (var account in Model.ListOfNamesThaIDontKnow)
        {
            <tr style="@((account.IsKing) ? "background-color:gold" : "background-color:grey")">
                <td>@counter</td>
                <td>@account.Name</td>
                <td>@account.Balance.ToString("#0.00 Zebra")</td>
                <td>@account.AnimalType</td>
                <td>@((account.IsGood) ? "Good One" : "Bad Guy")</td>
            </tr>
            counter++;
        }
    </table>
</body>
</html>s