@model BankOfSimba.Models.BankAccount

<html xmlns:th=“http://www.thymeleaf.org“>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv=“Content-Type” content=“text/html; charset=UTF-8" />
</head>
<body style="font-family:'Trebuchet MS'; background-image: url(https://media1.popsugar-assets.com/files/thumbor/BH3Iw2GfWfflbbU49OUzlZ0bpM8/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2016/09/28/667/n/1922283/c02390a9a84b2617_MSDLIKI_EC014_H.JPG); background-repeat:no-repeat; background-size: cover">
    @{int counter = 1;}
    <table border="1" height="250" width="500" style="text-align:center">
        <tr style="background-color:green">
            <td>Counter</td>
            <td>Name</td>
            <td>Balance (Zebra)</td>
            <td>Animal Type</td>
            <td>Good or Bad</td>
            <td>Press Button For Zebra</td>
        </tr>
        @foreach (var account in Model.ListOfNamesThaIDontKnow)
        {
            <tr style="@((account.IsKing) ? "background-color:gold" : "background-color:grey")">
                <td>@counter</td>
                <td>@account.Name</td>
                <td>@account.Balance.ToString("#0.00 Zebra")</td>
                <td>@account.AnimalType</td>
                <td>@((account.IsGood) ? "Good One" : "Bad Guy")</td>
                <td><button>Increase Zebra</button></td>
            </tr>
            counter++;
        }
    </table>
</body>
</html>